<!DOCTYPE html>
<html>
<head>
<title>Cloud Assignment 1</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h1>Welcome to my Website</h1>
		<p>If you have already created an account then click the login button, otherwise click the sign-up button</p>
	</div>
	<div class="col-md-6">
		<!--When the login button is clicked it will redirect the user to the login page-->
		<a href="/login"><button type="button" id="login" class="btn btn-primary btn-lg">Login</button></a>
	</div>
	<div class="col-md-6">
		<!--When the signup button is clicked it will redirect the user to the signup page-->
		<a href="/signup"><button type="button" id="signup" class="btn btn-success btn-lg">Sign-up</button></a>
	</div>


</div>

</body>
</html>
