<!DOCTYPE html>
<html>
<head>
<title>Cloud Assignment 1</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="stylesheets/signUpStyle.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script language="JavaScript" type="text/javascript" src="javascripts/signUp.js"></script>
</head>
<body>

<div class="signUp">
	<div class="signUp-screen">
		<div class="app-title">
			<h1>Sign Up</h1>
		</div>

		<div class="signUp-form">
			<div class="control-group">
			<!--This is the section where the user enters the user name-->
			<input type="text" class="SignUp-field" value="" placeholder="username" id="SignUp-name">
			<label class="SignUp-field-icon fui-user" for="SignUp-name"></label>
			</div>

			<div class="control-group">
			<!--This is the section where the user enters their email address-->
			<input type="text" class="SignUp-field" value="" placeholder="email" id="email-name">
			<label class="SignUp-field-icon fui-user" for="SignUp-name"></label>
			</div>

			<div class="control-group">
			<!--This is the section where the user enters their password that will be linked to their account-->
			<input type="password" class="SignUp-field" value="" placeholder="password" id="SignUp-pass">
			<label class="SignUp-field-icon fui-lock" for="SignUp-pass"></label>
			</div>

			<a class="btn btn-primary btn-large btn-block" id="completeSignUp">Sign Up</a>
		</div>
	</div>
</div>

</body>
</html>